@view-transition {
    navigation: auto;
}

* {
    /* Preventing layout shift from scrollbar appearance */
    scrollbar-gutter: stable;
}

button {
    cursor: pointer;
}

legend {
    background-color: var(--accent);
    color: var(--bg);
    padding: 3px 6px;
}

.skip-link {
    position: absolute;
    top: -4.5rem; /*  off screen */
    left: 0;
    z-index: 10000; /* nothing is in front */
    padding: 1.5rem 1.5rem;
}

.skip-link:focus-visible {
    /* on keyboard focus */
    top: 0; /* bring into view */
    border: var(--accent) 0.25rem solid;
}

.outline {
    border: solid var(--accent);
    color: var(--accent);
    background: var(--accent-bg);
}

.outline:hover {
    color: var(--accent-text);
}

.du3,
.hard,
.n0t-du3,
.easy,
.n0t-y3t,
.medium,
.r3t1r3 {
    color: light-dark(var(--text), var(--bg));
}

.du3,
.hard {
    background: red;
}

.n0t-du3,
.easy {
    background: lime;
}

.n0t-y3t,
.medium {
    background: gold;
}

.r3t1r3 {
    background: magenta;
}

.modal {
    position: sticky;
    inset: 0;
    width: 100%;
    height: fit-content;
    overflow: auto;
    z-index: 10000;
}

.aside {
    display: inline;
    position: relative;
    width: 20vw;
}

.modal,
.aside {
    transition: filter 200ms;
}
.modal:hover,
.aside:hover {
    z-index: 1;
    filter: drop-shadow(10px 10px var(--accent));
}

.aside:nth-of-type(even) {
    margin-right: -22vw;
    float: right;
}

.aside:nth-of-type(odd) {
    margin-left: -22vw;
    float: left;
}

@media (max-width: 1400px) {
    .aside,
    .aside:nth-of-type(even),
    .aside:nth-of-type(odd) {
        display: block;
        width: fit-content;
        margin: 5% 10% 5% 10%;
        float: none;
        margin: auto;
    }
}

.cardinal {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
}

.cardinal .notice {
    grid-column: 1 / 4;
}

@media (max-width: 500px) {
    .cardinal {
        grid-template-columns: 1fr;
    }

    .cardinal .notice {
        grid-column: auto;
    }
}
