.skip-link {
    position: absolute;
    top: -4.5rem; /*  off screen */
    left: 0;
    z-index: 10000; /* nothing is in front */
    padding: 1.5rem 1.5rem;
}

.skip-link:focus-visible {
    /* on keyboard focus */
    top: 0; /* bring into view */
    border: white 0.25rem solid;
}

@view-transition {
    navigation: auto;
}
