@view-transition {
    navigation: auto;
}

@property --transitionTime {
    syntax: "<time>";
    inherits: true;
    initial-value: 200ms;
}

* {
    /* Preventing layout shift from scrollbar appearance */
    scrollbar-gutter: stable;
    transition: filter var(--transitionTime);

    @media (prefers-reduced-motion: reduce) {
        transition: none;
    }
}

p,
.aside {
    content-visibility: auto;
    contain-intrinsic-size: auto none;
}

:is(h1, h2, h3, h4) {
    text-wrap: balance;
}

button,
label {
    cursor: pointer;
}

legend {
    background-color: var(--accent);
    color: var(--bg);
    padding: 3px 6px;
}

/* Animating details */
:root {
    interpolate-size: allow-keywords;
}
details::details-content {
    height: 0;

    overflow: clip;

    transition:
        height var(--transitionTime) ease-out,
        content-visibility var(--transitionTime) ease-out allow-discrete;

    @media (prefers-reduced-motion: reduce) {
        transition: none;
    }
}
details[open]::details-content {
    height: auto;
}

p {
    /* no orphan words on the last line */
    text-wrap: pretty;
}

.skip-link {
    position: absolute;
    top: -4.5rem; /*  off screen */
    left: 0;
    z-index: 10000; /* nothing is in front */
    padding: 1.5rem 1.5rem;

    &:focus-visible {
        /* on keyboard focus */
        top: 0; /* bring into view */
        border: var(--accent) 0.25rem solid;
    }
}

.outline {
    border: solid var(--accent);
    color: var(--accent);
    background: var(--accent-bg);

    &:hover {
        color: var(--accent-text);
    }
}

:is(.easy, .medium, .hard) {
    color: light-dark(var(--text), var(--bg));
}

:is(.du3, .n0t-du3, .n0t-y3t, .r3t1r3) {
    color: light-dark(var(--text), var(--bg));
    user-select: none;
    cursor: pointer;
}

:is(.du3, .hard) {
    background: red;
}

:is(.n0t-du3, .easy) {
    background: lime;
}

:is(.n0t-y3t, .medium) {
    background: gold;
}

.r3t1r3 {
    background: magenta;
}

.modal {
    position: sticky;
    inset: 0;
    width: 100%;
    height: fit-content;
    overflow: auto;
    z-index: 1000;

    &:hover {
        filter: drop-shadow(10px 10px var(--accent));
    }
}

.aside {
    display: inline;
    position: relative;
    width: 20dvw;

    &:hover {
        z-index: 100;
        filter: drop-shadow(10px 10px var(--accent));
    }
    &:nth-of-type(even) {
        margin-right: -22dvw;
        float: right;
    }
    &:nth-of-type(odd) {
        margin-left: -22dvw;
        float: left;
    }

    @media (max-width: 1200px) {
        &:nth-of-type(even),
        &:nth-of-type(odd) {
            display: block;
            width: fit-content;
            margin: 5% 10% 5% 10%;
            float: none;
            margin: auto;
        }
    }
}

.cardinal {
    display: flex;
    justify-content: space-between;

    @media (max-width: 500px) {
        display: inherit;
    }
}
