@media (prefers-reduced-motion: no-preference) {
    @view-transition {
        navigation: auto;
    }
}

@property --transition-time {
    syntax: "<time>";
    inherits: true;
    initial-value: 200ms;
}

* {
    /* Preventing layout shift from scrollbar appearance */
    scrollbar-gutter: stable;
}

p,
.aside {
    content-visibility: auto;
    contain-intrinsic-size: auto none;
    text-wrap: pretty;
}

:is(h1, h2, h3, h4) {
    text-wrap: balance;
}

button,
label {
    cursor: pointer;
}

legend {
    background-color: var(--accent);
    color: var(--bg);
    padding: 3px 6px;
}

.outline {
    border: solid var(--accent);
    color: var(--accent);
    background: var(--accent-bg);

    &:hover {
        color: var(--accent-text);
    }
}

:is(.easy, .medium, .hard) {
    color: light-dark(var(--text), var(--bg));
}

:is([data-is-new-day], [data-is-due], [data-is-due], [data-is-retired]) {
    color: light-dark(var(--text), var(--bg));
    user-select: none;
    cursor: pointer;
}

[data-is-due="1"],
.hard {
    background: red;
}

[data-is-due="0"],
.easy {
    background: lime;
}

[data-is-new-day="0"],
.medium {
    /* If not new day yet then doesn't matter due or not */
    background: gold;
}

[data-is-retired="1"] {
    /* Retire mean no review, so don't show any other color */
    background: aqua;
}

pre {
    display: block;
    width: fit-content;
    margin: 5% 10% 5% 10%;
    float: none;
    margin: auto;

    transition: filter var(--transition-time);

    &:hover {
        z-index: 1;
        filter: drop-shadow(10px 10px var(--accent));
    }
}
